@import 'https://fonts.googleapis.com/css?family=Fascinate+Inline';

:root {
    --height-text: 30px;
    --height-img: 445px;
    --miami-font: 'Fascinate Inline';
    --blue: #0bd3d3;
    --pink: #f890e7;
}

body {
    margin: 10px;
}

main {
    margin: 10px;
    padding: 10px;
    border: outset var(--blue);
}

#question {
    width: 50%;
    margin: auto;
    text-align: center;
}

.game {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin: 20px;
}

.game>* {
    margin: 10px;
}

.movie-card {
    width: 300px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin-bottom: auto;
}

.game-option {
    height: 30px;
}

.movie-name {
    margin-top: auto;
}

.game #higher-lower-btns {
    flex-basis: 100%;
}

#back-btn {
    background-image: linear-gradient(to right, var(--pink) 0%, var(--blue) 51%, var(--pink) 100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

#back-btn:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}