.genre-options,
.decade-options {
  max-width: 500px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 750px) {
  #box-office-game,
  #ratings-game {
    flex-wrap: wrap;
  }
}
