.ui.grid.container {
  margin: 30px;
  justify-content: space-around;
  border: outset var(--blue);
}

table {
  border-collapse: collapse;
  margin: 5px;
}

th,
td {
  color: var(--blue);
  text-shadow: 1px 1px black;
}

tbody > tr {
  border-bottom: solid var(--pink) 5px;
}

td {
  margin: 10px;
  font-size: 20px;
  text-align: center;
}
